/* Basic HTML Elements */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
  }
  
  a {
    &:hover {
      text-decoration: none;
      border-bottom: solid 1px;
      margin-bottom: -1px;
    }
  }
  /* END: Basic HTML Elements */
  
  /* Common Elements */
  .page {
    margin: 50px auto;
  
    main {
      margin-bottom: 80px;
    }
  }
    
  .blog-posts {
    margin-top: 24px;
    .blog-post {
      margin-bottom: 72px;
      a {
        font-weight: 600;
        font-size: 2rem;
        letter-spacing: 3.4px;
        color: $color-blue;
        
        &:hover { background-color: $color-light-yellow }
  
        &.small {
          font-size: 1rem;
          letter-spacing: normal;
          color: $color-black;
        }
      }
  
      time {
        display: block;
        margin: 10px auto 15px;
        font-size: 0.8rem;
        color: $color-gray;
        letter-spacing: 1.28px;
      }
    }
  }
  
