body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.page {
  margin: 50px auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  .nav-links {
    span, a {
      margin-left: 12px;
      font-size: 16px;
      letter-spacing: 1.7px;
    }
  } 
}


.welcome-msg-container {
  margin: 24px auto;
  h1 {
    font-weight: 600;
    font-size: 48px;
    color: #453636;
    letter-spacing: 5.11px;
  }
}

